{{!< default}} 
<div class="container clearfix">
  <main role="main" class="content">
    {{#foreach posts}}
    <article class="{{post_class}} post">
      <h2><a href="{{url}}" title="{{title}}">{{title}}</a></h2>
      <footer class="post-info">
        Posted on 
        <span class="post-meta">
            <time datetime="{{date published_at format="YYYY-MM-DD"}}">
              {{date published_at format="MMMM Do, YYYY"}}
            </time>
            {{#foreach tags}}
              <a href="{{url}}">
                  <span class="label label-primary">{{name}}</span>
              </a>
            {{/foreach}}
        </span>
      </footer>
      {{#if feature_image}}
        <a href="{{url}}">
          <img src={{img_url feature_image}} />
        </a>
      {{/if}}
      <p>{{excerpt characters="600"}}&hellip;</p>

      <a href="{{url}}" title="{{title}}">Read more &raquo;</a>
    </article>
    {{/foreach}} 
    
    {{pagination}}

  </main>
</div>