{{!< default}} 
<div class="container clearfix">
    <main role="main" class="content">

        {{#post}}
        <article class="{{post_class}} post">
            {{#is "post"}}
                <a class="btn" href="{{@blog.url}}" title="Back to homepage">
                    <i class="fa fa-arrow-left"></i>
                    &nbsp;Back to home
                </a>
            {{/is}}
            <h1 title="{{title}}">{{title}}</h1>

            {{#is "post"}}
                <footer class="post-info">
                    Posted on 
                    <span class="post-meta">
                        <time datetime="{{date published_at format="YYYY-MM-DD"}}">
                            {{date published_at format="Do MMMM YYYY"}}
                        </time> 
                        {{#foreach tags}}
                            <a href="{{url}}">
                                <span class="label label-primary">{{name}}</span>
                            </a>
                        {{/foreach}}
                    </span>
                </footer>
            {{/is}}

            <img src="{{img_url feature_image}}" />

            {{content}}

        </article>

        <div id="disqus_thread"></div>
        <script>

        var disqus_config = function () {
            this.page.url = "{{url absolute="true"}}"; 
            this.page.identifier = "ghost-{{comment_id}}"; 
        };
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://thesharpdev.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                                    
        {{/post}}

    </main>
</div>